{% if item.https and (item.redirect_http_to_https | default(false)) %}
server {
  listen 80;
  server_name {{ item.vhostname }};

  # Redirect all traffic to SSL
  rewrite ^ https://$host:{{ item.port }}$request_uri? permanent;
}
{% endif %}
server {
  listen {{ item.port }};
  server_name {{ item.vhostname }};
  root /var/www/html;
  # Internal authentication request
  location = /lmauth {
    internal;
    include /etc/nginx/fastcgi_params;
    fastcgi_pass unix:/var/run/llng-fastcgi-server/llng-fastcgi.sock;
    # Drop post data
    fastcgi_pass_request_body  off;
    fastcgi_param CONTENT_LENGTH "";
    # Keep original hostname
    fastcgi_param HOST $http_host;
    # Keep original request (LLNG server will receive /lmauth)
    fastcgi_param X_ORIGINAL_URI  $original_uri;
  }

  # Client requests
  location / {
    auth_request /lmauth;
    set $original_uri $uri$is_args$args;
    auth_request_set $lmremote_user $upstream_http_lm_remote_user;
    auth_request_set $lmlocation $upstream_http_location;
    error_page 401 $lmlocation;
{% if item.proxy_backend is defined %}
    proxy_pass {{ item.proxy_backend }};
    include /etc/nginx/proxy_params;
{% endif %}

    ##################################
    # PASSING HEADERS TO APPLICATION #
    ##################################
    include /etc/lemonldap-ng/nginx-lua-headers.conf;

  }
}
