---
- name: Install LLNG Repository KEY
  copy:
    src: rpm-gpg-key-ow2
    dest: /etc/pki/rpm-gpg/RPM-GPG-KEY-OW2
    owner: root
    group: root
    mode: 0644

- name: Import LLNG GPG KEY
  rpm_key:
    key: /etc/pki/rpm-gpg/RPM-GPG-KEY-OW2
    state: present

- name: Install epel-release
  yum:
    name: epel-release
    state: present

# We can't simply use yum_repository module because we need to
# provide at least 'baseurl', 'metalink' or 'mirrorlist for that
# module
- name: Set powertools / crb package name
  ansible.builtin.set_fact:
    powertools_repo: "{{ 'powertools' if ansible_distribution_major_version == '8' else 'crb' }}"

- name: Verify epel is enabled
  register: check_powertools
  changed_when: false
  ansible.builtin.command:
    cmd: dnf repolist --enabled {{powertools_repo }}

- name: Enable powertools if not already enabled
  when: (check_powertools.stdout_lines | length) == 0
  changed_when: false
  ansible.builtin.command:
    cmd: dnf -y config-manager --set-enabled {{ powertools_repo }}

- name: Install LLNG Enterprise Linux Repository
  copy:
    src: redhat_lemonldap-ng.repo
    dest: /etc/yum.repos.d/lemonldap-ng.repo
    owner: root
    group: root
    mode: 0644
  register: llng_repo

- name: Install Webserver and dependencies
  package:
    name: '{{ __redhat_pkgs }}'
    state: present
    update_cache: true

- name: Enable Apache
  service:
    name: httpd
    state: started
    enabled: true
  when: lemonldap_webserver | default('apache') in [ 'apache', 'httpd' ]

- name: Enable Nginx
  service:
    name: nginx
    state: started
    enabled: true
  when: lemonldap_webserver | default('apache') == 'nginx'
